/.idea
.DS_Store
/src/gravmag_sphere/__pycache__
/src/gravmag_sphere/.mplconfig
__pycache__/
*.py[cod]
*.egg-info/
*.mod
*.o
/build/
/dist/
/.pytest_cache/
/examples/lpmag/output/
/examples/lpmag/figs/
/examples/gravmag_sphere/.mplconfig/
/diagnostics/.mplconfig/
/examples/gravmag_sphere/python_model_output/
/examples/gravmag_sphere/lunar_examples/figs/
/examples/gravmag_sphere/lunar_examples/output/
/examples/gravmag_sphere/reiner_gamma_test/figs/
/examples/gravmag_sphere/reiner_gamma_test/output/
/examples/gravmag_sphere/seafloor_spreading_cases/figs/
/examples/gravmag_sphere/seafloor_spreading_cases/output/
/examples/gravmag_sphere/earth_crust_cases/figs/
/examples/gravmag_sphere/earth_crust_cases/output/
/examples/gravmag_sphere/reiner_gamma_test/fig
