/.idea
.DS_Store
/src/gravmag_sphere/__pycache__
/src/gravmag_sphere/.mplconfig
__pycache__/
*.py[cod]
*.egg-info/
*.mod
*.o
/build/
/dist/
/.pytest_cache/
/examples/lpmag/output/
/examples/lpmag/figs/
/examples/.mplconfig/
/diagnostics/.mplconfig/
/examples/python_model_output/
/examples/lunar_examples/figs/
/examples/lunar_examples/output/
/examples/reiner_gamma_test/figs/
/examples/reiner_gamma_test/output/
/examples/seafloor_spreading_cases/figs/
/examples/seafloor_spreading_cases/output/
/examples/earth_crust_cases/figs/
/examples/earth_crust_cases/output/
